
.logo1{
    width: 119px;
    height: 67px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
}

.logo1:hover{
    transform: scale(1.1);
}

  
h1{
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: 15px;
    font-weight: 2;
    text-align: center;
}

p{
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 2;
    text-align: center;
}

.entry1{
    align-content: end;
    transition: transform 0.3s ease;
}

.img1{
    width: 189px;
    height: 157px;
    flex-shrink: 0;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}

.img1:hover {
    transform: scale(1.1);
  }

.entry2{
    align-content: end;
    transition: transform 0.3s ease;
}

.img2{
    width: 250px;
    height: 135px;
    flex-shrink: 0;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}

.img2:hover {
    transform: scale(1.1);
  }

.entry3{
    align-content: end;
    transition: transform 0.3s ease;
}

.img3{
    width: 137px;
    height: 189x;
    flex-shrink: 0;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}

.img3:hover {
    transform: scale(1.1);
  }

.entry4{
    align-content: end;
    transition: transform 0.3s ease;
}

.img4{
    width: 207px;
    height: 133px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}

.img4:hover {
    transform: scale(1.1);
  }

.entry5{
    align-content: end; 
    transition: transform 0.3s ease;
}

.img5{
    width: 205px;
    height: 153px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}

.img5:hover {
    transform: scale(1.1);
  }

.entry6{
    align-content: end; 
    transition: transform 0.3s ease;
}

.img6{
    width: 176px;
    height: 134px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
    transition: transform 0.3s ease;
}

.img6:hover {
    transform: scale(1.1);
  }

.entry7{
    align-content: end; 
    transition: transform 0.3s ease;
}

.img7{
    width: 203px;
    height: 125px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
    transition: transform 0.3s ease;
}

.img7:hover {
    transform: scale(1.1);
  }

.entry8{
    align-content: end; 
    transition: transform 0.3s ease;
}

.img8{
    width: 167px;
    height: 135px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
    transition: transform 0.3s ease;
}

.im81:hover {
    transform: scale(1.1);
  }

.entry9{
    align-content: end; 
    transition: transform 0.3s ease;
}

.img9{
    width: 95px;
    height: 167px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
    transition: transform 0.3s ease;
}

.img9:hover {
    transform: scale(1.1);
  }

.entry10{
    align-content: end; 
    transition: transform 0.3s ease;
}

.img10{
    width: 165px;
    height: 124px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
    transition: transform 0.3s ease;
}

.img10:hover {
    transform: scale(1.1);
  }

/*container styles*/

.container{
    display:flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px;
}
