.logo1{
    width: 119px;
    height: 67px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    font-family: monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 20;
    text-align: center;
}

p{
    font-family: monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 2;
    text-align: center;
}

.entry1{
    align-content: end;
}

.img1{
    width: 189px;
    height: 157px;
    flex-shrink: 0;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry2{
    align-content: end;
}

.img2{
    width: 250px;
    height: 135px;
    flex-shrink: 0;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry3{
    align-content: end;
}

.img3{
    width: 137px;
    height: 189x;
    flex-shrink: 0;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry4{
    align-content: end;
}

.img4{
    width: 207px;
    height: 133px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry5{
    align-content: end; 
}

.img5{
    width: 205px;
    height: 153px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry6{
    align-content: end; 
}

.img6{
    width: 176px;
    height: 134px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
}

.entry7{
    align-content: end; 
}

.img7{
    width: 202px;
    height: 86px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
}

.entry8{
    align-content: end; 
}

.img8{
    width: 202px;
    height: 86px;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
}

/*container styles*/

.container{
    display:flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px;
}
