
@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap);

.logo1{
  width: 119px;
  height: 67px;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#ricenoodleroll{
  color: #FFDE9D;
  font-family: Helvetica;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}

.img {
  width: 441px;
  height: 259.869px;
  flex-shrink: 0;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img2 { /*腸粉 text*/
  width: 322.147px;
  height: 139.489px;
  flex-shrink: 0;
  margin-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ingredients {
  flex-shrink: 0;
  color: #FFDE9D;
  font-family: Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

#list1 {
  color: black;
  font-family: "Patrick Hand SC";
  font-size: 35px;
  font-style: normal;
  font-weight: 700; 
  text-align: start;
  margin-left: 150px;
  margin-bottom: 40px;
  font-weight: 400;
  
}

#description{
  color:#fffef9 ;
  font-size: 20px;
  font-family: "Patrick Hand SC";
  font-style: normal;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#box1 {
  border: 1px solid black;
  border-radius: 25px;
  width: 554px;
  height: 539px;
  flex-shrink: 0;
  background-color: #fffef9;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
}

#box2 {
  border: 1px solid;
  border-radius: 25px;
  width: 441px;
  height: 305px;
  flex-shrink: 0;
  background-color: #FF8787;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}

.description{
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
}

.h2{
  text-align: center;
}

.instructions{
  text-align: center;
  font-family: Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  color:#E04C4C
}

.list2{
  text-align: justify;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: black;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
}

.credit{
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  color: #FFDE9D;
  font-size: 20px;
  font-weight: 400;
}


/* end of base styles */

.container { /*large container*/
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: pace-evenly;
}

#container1 {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-content: space-evenly;
  justify-content: center;
  margin-top: 25px; 
}

#container2 {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  align-content: last baseline;
  margin-top: 25px;
}

#container3{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  align-content: last baseline;
  margin-top: 25px;
  text-align: left;
}